/* line 12, ../_sass/app.sass */
a {
  text-decoration: none;
}

/* line 14, ../_sass/app.sass */
.submit {
  color: #022329;
  padding: 1em;
  margin: 1em;
  background: #31d37d;
}

/* line 20, ../_sass/app.sass */
.question {
  display: none;
}

/* line 23, ../_sass/app.sass */
#submit {
  display: none;
}
