@import "compass/css3"

$yellow: #ffea35
$white: #f5f5f5
$white_opac: rgba(255,255,255,0.95)
$link_blue: #0CC6E8
$black: #022329
$green: #31d37d
$white_super_opac: rgba(255,255,255,0.05)
$white_opac_formfield: rgba(255,255,255,0.3)

* 
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-appearance: none

#awesome_video
  position: absolute
  z-index: -9999
  top: 0
  left: 0
  min-width: 100%
  height: 100%

.video_container
  position: absolute
  z-index: -9999
  top: 0
  left: 0
  overflow: hidden
  
html
  background: url('../img/bg_storm.jpg') no-repeat center center
  background-size: 100% auto
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

body
  //background: $black
  font-family: "Open Sans", Helvetica, Arial, sans-serif
  font-size: 16px
  color: #fff
  margin: 0
a
  color: $link_blue

.row
  margin: 0 auto

.white-bg
  background: $white

.header
  width: 100%
  .logo
    width: 184px
    height: 44px
    margin: 0
    margin-left: 50px
    margin-top: 50px
    background-size: 184px 44px
    overflow: hidden
    z-index: 100
    background: url("../images/logo_new.png") no-repeat
    text-indent: -9999px

.mission-statement
  text-align: center
  color: $white_opac
  width: 80%
  padding-left: 10%
  padding-right: 10%
  @include text-shadow (0 0px 10px darken($white_opac, 100%))
.distance
  background-color: rgba(255,255,255,0.1)
  padding: 0 0.3em 0 0.3em
  color: $white_super_opac
  white-space: nowrap
.distance_active
  background-color: rgba(255,255,255,0.1)
  padding: 0 0.3em 0 0.3em
  color: $white_opac
  white-space: nowrap

.main_img
  height: 80px
  margin-top: 4em
h1
  font-size: 4.5em
  text-transform: uppercase
  font-weight: 800
  margin-top: .8em
  margin-bottom: .1em

h2
  font-size: 1.5em
  font-weight: 400
  margin: 0
h3
  font-size: 1.5em
  font-weight: 400
  margin: 0
.call-out
  font-size: 3em
  text-transform: uppercase
  font-weight: 800
  font-style: italic

.sign-up-form
  margin: 0 auto
  width: 400px
  margin-top: 5em
  .label
    margin-bottom: 5px
  .disclaimer
    color: $white_opac
    font-size: .7em
    text-align: center
.emailfield
  width: 80%
  padding: 5% 10% 5% 10%
  border: 1px solid $yellow
  margin: 0
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box
  font-size: 1em
  background: none
  color: $black

.emailfield:focus
  background-color: $white_opac_formfield
  border-color: $yellow 
  outline-color: $yellow
  color: $white
.button
  color: $white
  width: 80%
  padding: 5% 10% 5% 10%
  display: block
  text-decoration: none
  text-align: center
  text-transform: uppercase
  letter-spacing: .15em
  font-size: 1em
  font-weight: 600

.button-main
  color: $black
  width: 100%
  padding: 5% 10% 5% 10%
  display: block
  text-decoration: none
  text-align: center
  text-transform: uppercase
  letter-spacing: .15em
  font-size: 1em
  font-weight: 600
  background-color: $yellow
  margin-top: 1em
  border: none
  cursor: pointer
  @include box-shadow (inset 0 1px 1px rgba(255,255,255,0.6))
  @include text-shadow (0 -1px 0 lighten($yellow, 5%))
  @include border-radius (4px)

.button-main:hover
  background-color: darken($yellow, 15%)
  @include text-shadow (0 1px 0 lighten($yellow, 15%))
.button-main:active
  background-color: darken($yellow, 15%)
.button-secondary
  margin-top: 1em
.button-secondary:hover
  margin-top: 1em
  color: $yellow



.container
  width: 100%
  margin: 0 auto
.row
  padding-bottom: 100px
  padding-top: 100px

.video_header
  margin-bottom: 0px

.features
  color: $black
  text-align: center

.how
  padding-top: 30px
  background: $yellow
  color: $white

.area
  margin-bottom: 100px

.how_img
  margin-top: 80px
.how_video
  margin-top: 80px
  width: 50%
.video-note
  line-height: 50px
  vertical-align: middle
  img
    height: 50px
    vertical-align: middle
    @include border-radius(100%)
    margin-left: 1em
  a
    text-decoration: none
    border-bottom: 1px solid $link_blue
  a:hover
    border-bottom: 1px solid darken($link_blue, 10%)
    color: darken($link_blue, 10%)
    padding-bottom: 3px

footer
  text-align: center
  color: $white
  position: absolute
  bottom: 30px
  left: 40px

  img
    height: 30px
  .copy
    clear: all
    font-size: .6em
    text-align: left

$break-handheld: 1024px
$break-large: 1224px
@media screen and (max-width: $break-large)
  h1
    font-size: 3.5em
  h2
    font-size: 1.2em
  h3
    font-size: 1.2em
  .sign-up-form
    width: 300px
  .button-main
    font-size: .8em

@media screen and (max-device-width: $break-handheld)
  body
    font-size: 12px
    width: 100%
  h1
    font-size: 2.0em
  h2
    font-size: 1.0em
  h3
    font-size: 1.5em
  .video_header
    height: auto!important
  .video_container
    display: none
  .main_img
    height: 40px
    margin-top: 2em
  .sign-up-form
    width: 90%
    margin-top: 0em
    .disclaimer
      font-size: 1em
  .how_video
    display: none
  footer
    color: $white
    position: relative
    bottom: 0
    left: 0
    margin-left: 20px












